

body {
  font-family: "Gotham Book", Helvetica, sans-serif;
  letter-spacing:1px;
}

h1 {
  font-family: "Gotham Book", Helvetica, sans-serif;
  text-transform: uppercase;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gotham Book", Helvetica, sans-serif;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size:7rem;
}

.home-name2 {
  font-size:4rem;
}

.header {
  background-color: #232323;
}

.espacio {
  font-size: 3rem;
}
.espacio2 {
  font-size: 6rem;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2.5s;
}

.fondo {
  background-color:#232323;
}

.introduccion {
  text-transform: uppercase;
  display: block;
  margin: 0 auto !important;
  max-width: 80%;
  text-align: justify;
  text-align-last: center !important;
  color: white;
  font-family: "Gotham Book", Helvetica, sans-serif;
  text-transform: uppercase;

  line-height: 2.5rem;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: white;
  max-width: 70% !important;
  margin: 0 auto !important;
  display: block;
} 


body {
  overflow-x: hidden;
}

label:active{
  text-decoration:underline;
}

label:hover {
  text-decoration: underline;
}

@media (max-width: 45em) {
  .tabs input[type="radio"]:checked + label {
    max-width: fit-content;
  }
}

@media (max-width: 45em) {
  .tabs label {
    max-width: fit-content;
  }
}

.servicios {
  margin: 0 auto;
  display: block;
  color: white;
  text-align: center;
  padding-bottom: 4rem;
}

/**
* Tabs
*/
.tabs {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: "Gotham Book", Helvetica, sans-serif !important;
  width: 60%;
  margin: 0 auto;
}
.tabs label {
  margin: 0 auto;
  order: 1;
  display: block;
  padding: 0.5rem 0.5rem;
  color: white;
  margin-left: 0.2rem;
  cursor: pointer;
  background-color: transparent;

  transition: background-ease 0.5s;
}
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: transparent;
}
.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label{
  background: white;
  color: #232323;
  border-radius: 5px;
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-top: 0.2rem;
  }
}

#servicios_div {
  padding-top: 9rem;
  padding-bottom: 9rem;
  font-family: "Gotham Book", Helvetica, sans-serif !important;
  font-size: 1.1rem;
}
.tab > p{
  width: 100%;
  margin: 0 auto;
  text-align: justify;
  padding-top: 5rem;
  text-align-last: center;
}

.tabs {
  padding-top: 5rem;
}

.centered {
  max-width: 15%;
  margin: 0 auto;
  display: block;
}

.imagen-z {
  border: 1px solid;
  object-fit: cover;
  /* overflow: hidden;
  display: flex; */
  width: 35.2rem !important;
  height: 30.2rem !important;
}

.caja-z {
  max-width: 35rem !important;
}

body {
  background-color: #232323;
}

hr{
  color: white;
  opacity: 100;
  height: 3px;
}



/* Small devices (PHONES, 576px and up) */

@media (max-width: 576px) {
  .home-name {
    font-size: 3rem;
    margin:0 auto;
    display:block;
  }

  .btitle {}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .home-name {
    font-size: 4rem;
    line-height: 6rem;
  }

  
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .home-name {
    font-size: 5rem;
    line-height: 6rem
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .home-name {
    font-size: 7rem;
    line-height: 6rem

  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-name {
    font-size: 7rem;
    line-height: 7rem

  }
}

html {
  width: 100%;
  height: 100%;
}

.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 50px;
  padding-bottom: 80px;
  width: 70%;
  height: 250px;
  border-radius: 5px;
  min-width: 300px;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-family: "Gotham Book", Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 20%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: white;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}

.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: white;
}

.tabs .slider {
  position: relative;
  width: 20%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #ffffff;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #ffffff;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #ffffff;
  margin-top: 5px;
  left: 1px;
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  color: #ffffff;
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label
  svg {
  fill: #ffffff;
}
@media (max-width: 750px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content
  > section:nth-child(1) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  color: #ffffff;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label
  svg {
  fill: #ffffff;
}
@media (max-width: 750px) {
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content
  > section:nth-child(2) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label {
  cursor: default;
  color: #ffffff;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label
  svg {
  fill: #ffffff;
}
@media (max-width: 750px) {
  .tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .content
  > section:nth-child(3) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: #ffffff;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label
  svg {
  fill: #ffffff;
}
@media (max-width: 750px) {
  .tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .content
  > section:nth-child(4) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(5):checked
  ~ ul
  > li:nth-child(5)
  > label {
  cursor: default;
  color: #ffffff;
}
.tabs
  input[name="tab-control"]:nth-of-type(5):checked
  ~ ul
  > li:nth-child(5)
  > label
  svg {
  fill: #ffffff;
}
@media (max-width: 750px) {
  .tabs
    input[name="tab-control"]:nth-of-type(5):checked
    ~ ul
    > li:nth-child(5)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(5):checked ~ .slider {
  transform: translateX(400%);
}
.tabs
  input[name="tab-control"]:nth-of-type(5):checked
  ~ .content
  > section:nth-child(5) {
  display: block;
}
@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1250px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
}
@media (max-width: 750px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}

/* CONTACTO*/ 

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.areaz {
  max-width: 30rem;
  width: 30rem;
  min-width: 17.5rem;
}
.areazy {
  max-width: 30rem;
  width: 30rem;
  min-width: 17.5rem;
}

/* CONTACTO 2 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container-forma {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.card {
  width: 600px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(35, 35, 35, 0.06);
  overflow: hidden;
}

.form {
  padding: 2rem;
}

.button {
  display: block;
  width: 100%;
  background-color: #232323;
  border: none;
  border-radius: 3px;
  padding: 1ch;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
}

.text-input {
  position: relative;
  margin-bottom: 1rem;
}
.text-input label {
  position: absolute;
  top: 1ch;
  left: 1ch;
  padding: 0 0.5ch;
  pointer-events: none;
  transition: 150ms ease;
  color: #232323;
}
.text-input label.label-focus {
  position: absolute;
  top: 0;
  font-size: 0.9em;
  color: #232323;
  font-weight: bold;
  transform: translateY(-50%);
  background-color: #fff;
  font-weight: 600;
}
.text-input input {
  display: block;
  width: 100%;
  border: 2px solid #232323;
  padding: 1ch;
  border-radius: 3px;
  transition: 150ms ease;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
}
.text-input input.input-focus {
  border-color: #232323;
}

.text-area {
  position: relative;
  margin-bottom: 1rem;
}
.text-area label {
  position: absolute;
  top: 1ch;
  left: 1ch;
  padding: 0 0.5ch;
  pointer-events: none;
  transition: 150ms ease;
  color: #232323;
}
.text-area label.label-focus {
  position: absolute;
  top: 0;
  font-size: 0.9em;
  color: #232323;
  font-weight: bold;
  transform: translateY(-50%);
  background-color: #fff;
  font-weight: 600;
}
.text-area textarea {
  display: block;
  width: 100%;
  border: 2px solid #232323;
  padding: 1ch;
  border-radius: 3px;
  transition: 150ms ease;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
  height: 8em;
}
.text-area textarea.input-focus {
  border-color: #232323;
}


/***** L O G O *****/

.navbar-logo2 {
  display: none;
}


@media screen and (max-width: 960px){
.navbar-logo2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 250px;
  }

  .navbar-logo1{
    display:none;
  }

}

.navbar-logo2 {
  padding-left:1rem;
  padding-top:2rem;
  max-width: 70px;
}

.navbar-logo1{
padding-top:1.3rem;
width:100px !important;}


.navbar-logoa{
  display:none;

}


@media screen and (max-width: 960px){
  .navbar-logoa {
      display: block ;
      position: absolute;
      max-width: 250px;
    }
    .navbar-logob{
      display:none ;
    }
  
  }
  
  .navbar-logoa {
    padding-left:1rem;
    padding-top:2rem;
    max-width: 100px;
 
  }
  
  .navbar-logob{
   
 
 max-width:70px }
  
  
  


/* Small devices (iphone, 576px and up) */
@media (max-width: 576px) {
.home-texto {
  padding-top:12rem;
}
.introduccion {
  font-size: 1.5rem;
}

.youtube-vid {

  width: 25rem;
  height: 20rem;
  
}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
 .home-texto {
  padding-top:12rem;
 }
 .introduccion {
  font-size: 2rem;
}

.youtube-vid {

  width: 30rem;
  height: 22rem;
  
}

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
 .home-texto {
  padding-top:12rem;
 }
 .introduccion {
  font-size: 2rem;
}

.youtube-vid {

  width: 45rem;
  height: 27rem;
  
}


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
.home-texto{
  
}
.introduccion {
  font-size: 2rem;
}

.youtube-vid {

  width: 55rem;
  height: 33rem;
  
}


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.home-texto {
  

}
.introduccion {
  font-size: 2rem;
}
 
.youtube-vid {

  width: 55rem;
  height: 33rem;
  
}



}

.linku {
  font-size:11px;
  letter-spacing:1px;
}



