/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

h1 {
  font-family: 'Gotham Book';
  text-transform: uppercase;
}
h2, h3, h4, h5, h6 {
  font-family: 'Gotham Book';
}

.prose img {
  margin-left: auto;  
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

.logo {
  margin: 20px;
  max-width:150px;
}

.header {
 background-color: #232323;
}

.espacio {
  font-size:3rem ;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2.5s;
}
